@media print{

  .optional, .print-courses{
    display: none !important;
  }
  
  body{
    font-family: Arial;
    padding: 0;
    margin: 0;
  }
  
  #header{
    background: #f6f3ea;
    padding: 1em;
    text-align: right;
  }
  
  #logo{
    background: url('http://www.mtmercy.edu/sites/all/themes/mount_mercy/images/structure/footer/footer-crest.jpg') no-repeat;
    text-indent: -9999em;
    width: 98px;
    height: 38px;
  }
  
  #content{
    padding: 1em;
  }
  
  table{
    border-collapse:collapse;
    margin-top: 1em;
  }
  
  tr{
    display: table-row;
  }
  
  th{
    text-align: left;
    padding: 0 .5em;
  }
  
  td{
    padding: .3em .5em;
  }
  
  tbody tr{
    border-top: 1px solid #ccc;
  }

}